header {
    background-color: #000000;
    color: #FFFFFF;
}

.cabecalho{
    color: white;
    margin-left: 660px ;
    text-align: center;
    display: flex;
}

.cabecalho-lista-1{
    color:white;
    margin-left: 260px; /*alinhamento à esquerda */
    padding: 40px; /*espaçamento vertical */
    display: inline-block;
    justify-content: center;
}

.cabecalho-lista-2{
    color: white;
    margin-left: 260px;
    padding: 40px;
    display: inline-block;
    justify-content: center;
}
body {
    background-color:rgb(247, 247, 154);
    color:black;
    font-family: 'Poppins', 'sans-serif' ;
    
}

.titulo-2{
    color:black;
    text-align: center;
    display: flex;
    margin-left: 400px;
}

.paragrafo-1{
    margin-left: 35px;
    text-align: center;
}

.titulo-3{
    color:black;
    text-align: center;
    display: flex;
    margin-left: 450px;
}

.paragrafo-2{
    margin-left: 35px;
    text-align: center;
}

.arduino{
    width: 40%;
    display: inline;
    padding: 30px;
}

.protoboard{
    width: 25%;
    display: inline;
    padding: 120px;
}
.multimetro{
    width: 40%;
    margin-right: 30px;
}

.capacitor{
    width: 25%;
    display: inline;
    padding: 30px;
    margin-left: 60px;
    margin-right: 40px;
}

.senseor-LDR{
    width: 10%;
    display: inline;
    padding: 20px;
    margin-left: 150px;
}

.LED{
    width: 25%;
    display: inline;
    padding: 20px;
    margin-left: 140px;
}

.footer{
    background-color: #000000;
    color:white;
    text-align: center;
    padding: 10px;
}

p{
    justify-content: center;
    padding: 20px;
}

.preco-1{
    width: 25%;
    display: inline-block;
    margin-left: 25px;
    margin-right: 80px;
    text-align: center;
}

.preco-2{
    width: 25%;
    display: inline-block ;
    margin-left: 15px;
    margin-right: 60px;
    text-align: center;
}